@import "~@global/scss/variables";
@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
}

img {
  vertical-align: middle;
}

a {
  outline: none;
  text-decoration: none;
  transition: color 0.2s ease;
  color: #000;
  text-transform: uppercase;
}

.g-container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1220px;
  width: 100%;

  @media screen and (max-width: $media-sm-max) {
    padding: 0 30px;
  }

  @media screen and (max-width: $media-xs-max) {
    padding: 0  20px;
  }

  &--header {
    padding: 0;

    @media screen and (max-width: $media-sm-max) {
      margin: 0;
    }
  }
}

.g-button {
  color: #fff;
  text-transform: uppercase;
  outline: none;
  height: 40px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  border: 2px solid $main-color;
  background-color: #fff;
  transition: font-size 0.3s ease;

  &::before {
    position: absolute;
    z-index: -1;
    content: "";
    background-color: $main-color;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: top 0.3s ease;
  }

  &:hover {
    color: $main-color;

    &::before {
      top: 100%;
    }
  }

  &:active {
    font-size: 13px;
  }

  &--gray {
    color: $dark-gray;
    border: 2px solid $light-gray;
    background-color: #fff;

    &::before {
      background-color: $light-gray;
    }

    &:hover {
      color: $dark-gray;
    }
  }
}
