<template>
  <div class="g-container g-container--header">
    <header class="header">
      <div class="header__desktop">
        <router-link
          to="/"
        >
          <img
            src="@images/logo-desktop.svg.png"
            alt="Logo"
          >
        </router-link>
      </div>
      <div class="header__mobile">
        <div>
          <router-link
            to="/"
          >
            <img
              src="@images/logo-mobile.svg.png"
              alt="Logo"
            >
          </router-link>
        </div>
        <div>
          <img
            src="@images/logo-mobile-header.svg.png"
            alt="Logo"
          >
        </div>
        <div>
          <button
            class="header__hamburger-wrapper"
            @click="isShowNavbar = !isShowNavbar"
          >
            <span
              :class="{'header__hamburger--active' : isShowNavbar}"
              class="header__hamburger"
            />
          </button>
        </div>
      </div>
      <Navbar
        :class="{'header__navbar--active' : isShowNavbar}"
      />
    </header>
  </div>
</template>

<script>
import Navbar from './components/Navbar';

export default {
  name: 'Header',

  components: {
    Navbar,
  },

  data: () => ({
    isShowNavbar: false,
  }),
};
</script>

<style lang="scss">
@import "~@global/scss/variables";

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;

  @media screen and (max-width: $media-sm-max) {
    flex-direction: column;
    padding-top: 0;
  }

  &__desktop {
    padding-left: 40px;

    @media screen and (max-width: $media-sm-max) {
      display: none;
    }
  }

  &__mobile {
    display: none;

    @media screen and (max-width: $media-sm-max) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 25px;
      border-bottom: 1px solid $light-gray;
    }
  }

  &__hamburger-wrapper {
    background-color: transparent;
    border: none;
    outline: none;
    height: 20px;
    cursor: pointer;
  }

  &__hamburger {
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    width: 20px;
    height: 2px;
    padding-top: 0;
    background-color: #000;
    outline: none;
    transition: all 0.3s ease;

    &::before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #000;
    }

    &::after {
      content: '';
      position: absolute;
      top: -5px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #000;
    }

    &--active {
      transform: rotate(225deg);

      &::after {
        left: 50%;
        right: 50%;
      }

      &::before {
        transform: rotate(90deg);
        top: 0;
      }
    }
  }

  &__navbar {
    &--active {
      display: flex;
    }
  }
}
</style>
