<template>
  <div class="g-container products">
    <h1 class="products__title">
      Каталог продукции
    </h1>
    <div class="row">
      <Product
        v-for="product in products"
        :key="product.id"
        :product="product"
        class="
          col-xs-12
          col-sm-6
          col-md-4
          col-lg-3"
      />
      <ShowAll
        class="
          col-xs-12
          col-sm-6
          col-md-4
          col-lg-3"
      />
    </div>
  </div>
</template>

<script>
import Product from './components/Product';
import ShowAll from './components/ShowAll';
import products from './products';

export default {
  name: 'Home',

  components: {
    Product,
    ShowAll,
  },

  data: () => ({
    products,
  }),
};
</script>

<style lang="scss" scoped>
@import "~@global/scss/variables";

.products {
  &__title {
    font-size: 60px;
    margin: 50px 0 33px;
    font-weight: normal;
  }
}
</style>
