<template>
  <nav class="navbar">
    <router-link
      v-for="link in links"
      :key="link.name"
      :to="link.to"
      class="navbar__link"
      exact-active-class="navbar__link--active"
    >
      {{ link.name }}
    </router-link>
  </nav>
</template>

<script>
export default {
  name: 'Navbar',

  data: () => ({
    links: [
      {
        to: '/',
        name: 'Главная',
      },
      {
        to: '/a',
        name: 'Каталог продукции',
      },
      {
        to: '/s',
        name: 'Подбор программы',
      },
    ],
  }),
};
</script>

<style lang="scss">
@import "~@global/scss/variables";

.navbar {
  display: flex;
  align-items: center;
  padding-right: 40px;

  @media screen and (max-width: $media-sm-max) {
    padding-right: 0;
    display: none;
    flex-direction: column;
  }

  &__link {
    font-size: 20px;
    margin-left: 35px;
    position: relative;
    text-align: center;

    @media screen and (max-width: $media-sm-max) {
      margin: 0;
      padding: 25px 0;
      border-bottom: 1px solid $light-gray;
      width: 100%;

      &::before {
        width: 0;
      }
    }

    &::before {
      content: '';
      position: absolute;
      background-color: $main-color;
      height: 2px;
      left: 50%;
      right: 50%;
      bottom: -12px;
      transition: all 0.3s ease;
      transition-property: right, left;
    }

    &:hover::before {
      left: 0;
      right: 0;
    }

    &--active {
      position: relative;

      @media screen and (max-width: $media-sm-max) {
        color: $main-color;
      }

      &::before {
        content: '';
        position: absolute;
        background-color: $main-color;
        height: 2px;
        left: 0;
        right: 0;
        bottom: -12px;
      }
    }
  }
}

</style>
