<template>
  <div>
    <div class="product">
      <img
        :src="product.image"
        :alt="product.name"
        class="product__image"
      >
      <div class="product__text">
        <h2 class="product__title">
          {{ product.name }}
        </h2>
        <div class="product__description">
          <span>
            Обьем
          </span>
          <span>
            {{ product.volume }}г
          </span>
        </div>
        <div class="product__description">
          <span>
            Вкус
          </span>
          <span>
            {{ product.taste }}
          </span>
        </div>
        <div class="product__description">
          <span>
            Цена
          </span>
          <span>
            {{ product.price }} грн
          </span>
        </div>
      </div>
      <button class="g-button product__button">
        Заказать
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Product',

  props: {
    product: {
      type: Object,
      default: () => ({}),
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~@global/scss/variables";

.product {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 245px;
  height: 480px;
  background-color: $light-gray;
  padding: 0 40px 40px;
  margin: 140px auto 0;
  text-align: center;

  @media screen and (max-width: 1020px) {
    width: 300px;
  }

  @media screen and (max-width: 767px) {
    padding: 25px;
    margin: 0;
    width: 100%;
    background: #fff;
    text-align: left;
    height: 350px;
  }

  &__image {
    position: absolute;
    bottom: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translateX(-50%);
    z-index: 1;

    @media screen and (max-width: 767px) {
      bottom: 20%;
      left: 10%;
      margin-right: -10%;
      transform: translateX(-10%);
    }

    @media screen and (max-width: 400px) {
      width: 150px;
      left: 5%;
      margin-right: -5%;
      transform: translateX(-5%);
    }
  }

  &__text {
    z-index: 100;

    @media screen and (max-width: 767px) {
      margin-left: 50%;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 400;
    padding: 0 10px;
    margin-bottom: 20px;

    @media screen and (max-width: 767px) {
      padding: 0;
      width: 100px;
      margin-bottom: 5px;
    }
  }

  &__description {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid $dark-gray;
  }

  &__button {
    margin-top: 30px;
  }
}
</style>
