<template>
  <div>
    <div class="showAll">
      <div class="showAll__icon-wrapper">
        <div class="showAll__icon" />
      </div>
      <h2 class="showAll__title">
        Показать еще 100500
      </h2>
      <div class="showAll__description">
        На самом деле вкусов гораздо больше!
      </div>
      <button class="g-button g-button--gray showAll__button">
        Показать все
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ShowAll',
};
</script>

<style lang="scss" scoped>
@import '~@global/scss/variables';

.showAll {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 245px;
  height: 480px;
  padding: 0 40px 40px;
  margin: 140px auto 0;
  border: 1px solid $light-gray;
  text-align: center;

  @media screen and (max-width: 1020px) {
    width: 300px;
  }

  @media screen and (max-width: 767px) {
    padding: 25px;
    margin: 0;
    width: 100%;
    background: #fff;
    height: 350px;
  }

  &__icon-wrapper {
    display: flex;
    justify-content: center;
  }

  &__icon {
    height: 2px;
    width: 50px;
    background-color: $dark-gray;
    position: relative;
    margin-bottom: 45px;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      content: "";
      background-color: $dark-gray;
      height: 2px;
      transform: rotate(90deg);
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 400;
    padding: 0 10px;
    margin-bottom: 20px;
  }

  &__description {
    text-align: center;
    color: #444;
  }

  &__button {
    margin-top: 80px;
  }
}
</style>
